pip~=24.0
fastapi
pydantic
typing_extensions
pillow
sniffio
starlette
pydantic_core
anyio
annotated-types
pdf2image
pytesseract
packaging
opencv-python
textblob
python-multipart
uvicorn
#python-poppler